<ion-header>
  <ion-toolbar>
    <ion-title>
      First Aid
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>Important Topics</h1>
   <ion-item>
      <ion-label><ion-button shape="round" size="small" color="light" href="/seizures">Seizures</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button shape="round" size="small" color="light" href="/how-to-prepare-a-basic-first-aid-kit">How To Prepare a Basic First Aid Kit</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button shape="round" size="small" color="light" href="/cuts">Cuts</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button shape="round" size="small" color="light" href="/burns">Burns</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button shape="round" size="small" color="light" href="/Choking">Choking</ion-button></ion-label>
    </ion-item>
    <ion-item>
        <ion-label><ion-button shape="round" size="small" color="light" href="/Fractures">Fractures</ion-button></ion-label>
      </ion-item>
      <ion-item>
          <ion-label><ion-button shape="round" size="small" color="light" href="/internal-bleeding">Internal Bleeding</ion-button></ion-label>
        </ion-item>
        <ion-item>
            <ion-label><ion-button shape="round" size="small" color="light" href="/external-bleeding">External Bleeding</ion-button></ion-label>
          </ion-item>
</ion-content>
