<ion-header>
  <ion-toolbar>
    <ion-title>
      First Aid
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>Important Topics</h1>
   <ion-item>
      <ion-label><ion-button shape="round" size="small" color="light">Seizures</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button shape="round" size="small" color="light">How To Prepare a Basic First Aid Kit</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button shape="round" size="small" color="light">Cuts</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button shape="round" size="small" color="light">Burns</ion-button></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-button shape="round" size="small" color="light">Choking</ion-button></ion-label>
    </ion-item>
    <ion-item>
        <ion-label><ion-button shape="round" size="small" color="light">Fractures</ion-button></ion-label>
      </ion-item>
      <ion-item>
          <ion-label><ion-button shape="round" size="small" color="light">Internal Bleeding</ion-button></ion-label>
        </ion-item>
        <ion-item>
            <ion-label><ion-button shape="round" size="small" color="light">External Bleeding</ion-button></ion-label>
          </ion-item>
</ion-content>
