<ion-header>
    <ion-toolbar color="danger">
        <ion-title>
            First Aid
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="none">
        <ion-item>
            <ion-button shape="round" size="large" color="dark" href="/main">
                Important Topics
            </ion-button>
        </ion-item>
        
        <br>

        <ion-item>
            <ion-button shape="round" size="large" color="crOrange" href="/terms">
                Terms & Conditions
            </ion-button>
        </ion-item>

        <br>

        <ion-item>
            <ion-button shape="round" size="large" color="medium" href="/about">
                About
            </ion-button>
        </ion-item>
    </ion-list>

</ion-content>
