<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
        <ion-title>
            External Bleeding
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        External Bleeding
    </p>
    <b>What to do:</b>
    <ul>
        <li>
            Lay the victim horizontally.
        </li>
        <br>
        <li>
            Apply a sterile dressing on the wound or,
            if it is not present,<br>
            a washed cloth,
            exerting a firm pressure with one or both hands,<br>
            with a finger or even with a clean bandage,<br>
            depending on the location and extent of the injury.
        </li>
        <br>
        <li>
            If it is saturated with blood, put another on top of it, but without removing the first.
        </li>
        <br>
        <li>
            Make the compression last until the bleeding stops (at least 10 minutes).
        </li>
        <br>
        <li>
            If the bleeding stops, apply a compressive dressing over the wound.
        </li>
    </ul>
    <p>
        <b>Caution:</b> the rescuer must wear disposable gloves before any procedure.
    </p>
    <p>
        If it is a member wound with heavy bleeding it may be necessary to apply a garrote tourniquet.
    </p>
    <p>
        The garrote may be rubber or improvised with a narrow strip of cloth or a tie.
    </p>
    <ion-button href="/garrote" color="dark" shape="round">
        <p>How to apply a garrote tourniquet</p>
    </ion-button>
    <br>
    <h6>
        <b>
            It is a serious situation that requires urgent transportation to the Hospital.
        </b>
    </h6>

</ion-content>
