<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>External Bleeding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label><ion-button shape="round" size="small" color="light" href="/home">Back to Home</ion-button></ion-label>
  <p><b>What to do:</b></p>
  <p>- Lay the victim horizontally.</p>
    <p>- Apply a sterile dressing on the wound or, if it is not present, a washed cloth, exerting a firm pressure with one or both
hands, with a finger or even with a clean bandage, depending on the location and extent of the injury.
If it is saturated with blood, put another on top of it, but without removing the first.</p>
<p>- Make the compression last until the bleeding stops (at least 10 minutes).</p>
  <p>- If the bleeding stops, apply a compressive dressing over the wound.</p>
<p><b>Caution:</b> the rescuer must wear disposable gloves before any procedure.</p>
</ion-content>
