<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="digestive-poisoning"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Medicines
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h6>
        <b>
            Medicines
        </b>
    </h6>

    <b>
        Signals and Symptons:
    </b>

    <b>
        Depend on the medicine ingested:
    </b>

    <ul>
        <li>
            one can observe vomiting.
        </li>

        <li>
            difficulty breathing.
        </li>

        <li>
            loss of consciousness.
        </li>

        <li>
            somnolence.
        </li>

        <li>
            mental confusion.
        </li>

        <li>
            etc.
        </li>

    </ul>

    <p>
        <b>
            What you should do:
        </b>
    </p>
    <p>
        Ask the victim to try to get as much information as possible about the poisoning.
    </p>
    <p>
        Ask for directions to Poison control center immediately:
    </p>
    <p>
        Indicate the product ingested, the probable amount, the time it was taken and the time of the last meal.
    </p>
    <p>
        Keep the victim comfortably warm.
    </p>
    <p>
        <b>
            It is a serious situation that requires urgent transportation to the Hospital.
        </b>
    </p>

</ion-content>
