<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="digestive-poisoning"></ion-back-button>
    </ion-buttons>
    <ion-title>
        Medicines
    </ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list-header>
    <h6>
        <b>
            Medicines
        </b>
    </h6>
</ion-list-header>

<ion-list>

    <ion-list-header>
        <b>
            Signals and Symptons:
        </b>
    </ion-list-header>

    <ion-list-header>
        <b>
            Depend on the medicine ingested:
        </b>
    </ion-list-header>

    <ion-item>
        <ion-label>
            one can observe vomiting.
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label>
            difficulty breathing.
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label>
            loss of consciousness.
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label>
            somnolence.
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label>
            mental confusion.
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label>
            etc.
        </ion-label>
    </ion-item>

</ion-list>

<p>
    <b>
        What you should do:
    </b>
</p>
<p>
    Ask the victim to try to get as much information as possible about the poisoning.
</p>
<p>
    Ask for directions to Poison control center immediately:
</p>
<p>
    Indicate the product ingested, the probable amount, the time it was taken and the time of the last meal.
</p>
<p>
    Keep the victim comfortably warm.
</p>
<p>
    <b>
        It is a serious situation that requires urgent transportation to the Hospital.
    </b>
</p>

</ion-content>
