<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Drowning
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        <b>
            It should be remembered that a small child can drown in a few inches of water,
            even in the bathtub during the bath or in an almost empty tank.
        </b>
    </p>
    <br>
    <p>
        <b>
            What you should do:
        </b>
    </p>
    <ul>
        <li>
            Remove victim immediately from the water.
        </li>
        <li>
            Check if you are conscious, if you breathe and if your heart beats.
        </li>
        <li>
            Place the victim on his or her belly down and with his head turned to one side.
        </li>
        <li>
            Compress the rib cage 3 to 4 times to get the water out.
        </li>
    </ul>
    <br>
    <p>
        If the victim does not breathe,
        lay him on his back and start artificial ventilation immediately by mouth-to-mouth and,
        if necessary, do cardiac massage.
    </p>
    <p>
        As soon as the victim breathes normally,
        place it in a Safety Lateral Position and keep it comfortably warm.
    </p>
    <b>
        In any situation, transport the victim to the Hospital.
    </b>
    <p>
        <b>
            What you should not do:
        </b>
    </p>
    <p>
        If the drowning occurred in the sea or in a river the rescuer should not:
    </p>
    <ul>
        <li>
            Throw yourself in the water if you can not swim very well
        </li>
        <li>
            Seeking to save a drowned man who is far from land
        </li>
        <li>
            Let yourself be grabbed by the person you want to save
        </li>
    </ul>
    <p>
        <b>
            You should throw a rope or buoy.
        </b>
    </p>
</ion-content>
