<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Terms & Conditions
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        <b>By accessing and using this service, 
        you accept and agree to be bound by the terms and provision of this agreement.</b> 
        In addition, 
        when using these particular services, 
        you shall be subject to any posted guidelines or rules applicable to such services. 
        Any participation in this service will constitute acceptance of this agreement. 
        <b>If you do not agree to abide by the above, 
        please do not use this service.</b>
    </p>
    <b>
        Legalities
    </b>
    <p>
        This app and its components are offered for <b>informational purposes only</b>; 
        this app <b>shall not be responsible or liable</b> for the accuracy, 
        usefulness or availability of any information transmitted or made available via the app, 
        and shall not be responsible or liable for any error or omissions in that information.
    </p>
    <p>
        this app <b>shall not be responsible or liable</b> for the practice of any of the first-aid 
        methods demonstrated here
    </p>
    <p>
        These terms and conditions are subject to change.
    </p>
    <b>
        I have read and agree to the terms and conditions.
    </b>
</ion-content>
