<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Fractures
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>Don't move the person except if necessary to avoid further injury.</p>
    <p><b>Take these actions immediately while waiting for medical help:</b></p>
    <p>Stop any bleeding. Apply pressure to the wound with a sterile
        bandage, a clean cloth or a clean piece of clothing.
        Immobilize the injured area. <b>Don't try to realign the bone or
            push a bone that's sticking out back in</b>.If you've been trained
        in how to splint and professional help isn't readily available,
        apply a splint to the area above and below the fracture sites.
        Padding the splints can help reduce discomfort.
        Apply ice packs to limit swelling and help relieve pain.
        <b>Don't apply ice directly to the skin. Wrap the ice in a towel,
            piece of cloth or some other material.</b>
        Treat for shock. If the person feels faint or is breathing in
        short, rapid breaths, lay the person down with the head slightly
        lower than the trunk and, if possible, elevate the legs.</p>
</ion-content>
