<ion-header>
  <ion-toolbar>
    <ion-title>Seizures</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label><ion-button shape="round" size="small" color="light" href="/home">Back to Home</ion-button></ion-label>
  <br>
  <br>
  <p>If you witness a seizure, try to keep the calm down and before anything else call an emergency service.
    Pay close attention to what happens during and after the crisis.</p>
  <p><b>During a seizure:</b></p>
  <p>Protect the person from injury</p>
  <p>Try to rest the person gently on the floor, if it shows signs of falling</p>
  <p>Try moving away furniture or other objects that</p>
  <p> may injure the person during the seizure</p>
    <p>If the person having a seizure is already </p>
      <p>on the floor when you arrive, put something soft under your head</p>
        <p>Do not force anything, including your fingers, into the person's mouth.</p>
          <p> Placing something in the person's mouth can cause injury to him or her,</p>
            <p> like chipped teeth or a fractured jaw. You could also be bitten</p>
              <p>  Turn the person to your side, with your mouth down, unless the person resists being moved</p>
                <p> Do not attempt to release or shake the person</p>
                  <p> If person vomits, turn person to side.</p>
                    <p><b>Pay close attention to what the person is doing so you can describe convulsion to the rescue or doctor:</b></p>
                      <p><b>What type of body movement occurred?</b></p>
                        <p><b>How long did the seizure last?</b></p>
                          <p><b>How did the person act immediately after the attack?</b></p>
                            <p><b>Are there injuries?</b></p>

</ion-content>
