<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Seizures</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label><ion-button shape="round" size="small" color="light" href="/home">Back to Home</ion-button></ion-label>
  <br>
  <p>If you witness a seizure, try to keep the calm down and before anything else call an emergency service.
    Pay close attention to what happens during and after the crisis.</p>
  <p><b>During a seizure:</b></p>
  Protect the person from injury
  Try to rest the person gently on the floor, if it shows signs of falling
  Try moving away furniture or other objects that
   may injure the person during the seizure
    If the person having a seizure is already 
      on the floor when you arrive, put something soft under your head
        Do not force anything, including your fingers, into the person's mouth.
           Placing something in the person's mouth can cause injury to him or her,
             like chipped teeth or a fractured jaw. You could also be bitten
                Turn the person to your side, with your mouth down, unless the person resists being moved
                 Do not attempt to release or shake the person
                   If person vomits, turn person to side.
                    <p><b>Pay close attention to what the person is doing so you can describe convulsion to the rescue or doctor:</b></p>
                      <b> What type of body movement occurred?</b><br>
                        <b> How long did the seizure last?</b><br>
                          <b> How did the person act immediately after the attack?</b><br>
                            <b> Are there injuries?</b>

</ion-content>
