<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Seizures
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <br>
    <p>
        If you witness a seizure,
        <b>try to keep the calm down</b> and before anything else call an emergency service.
        Pay close attention to what happens during and after the crisis.
    </p>
    <b>
        During a seizure:
    </b>
    <ul>
        <li>
            Protect the person from injury
        </li>
        <li>
            Try to rest the person gently on the floor, if it shows signs of falling
        </li>
        <li>
            Try moving away furniture or other objects that
        </li>
        <li>
            may injure the person during the seizure
        </li>
        <li>
            If the person having a seizure is already on the floor when you arrive,
        </li>
        <li>
            put something soft under her head
        </li>
        <li>
            <b>Do not force anything, including your fingers</b>, into the person's mouth.
        </li>
        <li>
            Placing something in the person's mouth can cause injury to him or her,
            like chipped teeth or a fractured jaw.
        </li>
        <li>
            You could also be bitten
        </li>
        <li>
            Turn the person to your side, with your mouth down, unless the person resists being moved
        </li>
        <li>
            Do not attempt to release or shake the person
        </li>
        <li>
            If person vomits, turn person to side.
        </li>
    </ul>
    <b>
        Pay close attention to what the person is doing so you can describe convulsion to the rescue or doctor:
    </b>
    <ul>
        <li> What type of body movement occurred?</li>
        <li> How long did the seizure last?</li>
        <li> How did the person act immediately after the attack?</li>
        <li> Are there injuries?</li>
    </ul>

</ion-content>
