<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>
          Important Topics
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1>Important Topics</h1>

  <ion-list lines="none">


      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/seizures">
              Seizures
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/how-to-prepare-a-basic-first-aid-kit">
              How To Prepare a Basic First Aid Kit
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/cuts">
              Cuts
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/burns">
              Burns
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/choking">
              Choking
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/fractures">
              Fractures
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/internal-bleeding">
              Internal Bleeding
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/external-bleeding">
              External Bleeding
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/poisoning">
              Respiratory Poisoning
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button href="/digestive-poisoning" size="default" color="light" shape="round">
              Digestive Poisoning
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/drowning">
              Drowning
          </ion-button>
      </ion-item>

  </ion-list>

</ion-content>
