<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>
          Tópicos Importantes
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Tópicos Importantes</h1>


  <ion-list lines="none">


      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/convulcoes">
              Convulções
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/kitbasico">
              Como Preparar um Kit Basico de Primeiros Socorros
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/cortes">
              Cortes
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/queimaduras">
              Queimaduras
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/engasgo">
              Engasgos
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/fraturas">
              Fraturas
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/hemorragiainternal">
              Hemorragia Interna
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/hemorragiaexterna">
              Hemorragia Externa
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/envenenamentorespiratorio">
              Envenenamento Respiratorio
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button href="/envenenamentodigestivo" size="default" color="light" shape="round">
              Envenenamento Digestivo
          </ion-button>
      </ion-item>

      <br>

      <ion-item>
          <ion-button shape="round" size="default" color="light" href="/afogamento">
              Afogamento
          </ion-button>
      </ion-item>

  </ion-list>

</ion-content>
