<ion-header>
    <ion-header>
        <ion-toolbar color="danger">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="digestive-poisoning"></ion-back-button>
            </ion-buttons>
            <ion-title>
                Food Products
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content padding>

        <ion-list>

            <ion-list-header>
                <b>
                    Signals and Symptons:
                </b>
            </ion-list-header>

            <ion-item>
                <ion-label>
                    Shivers and abundant perspiration.
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    abdominal pain.
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    nausea and vomiting.
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    diarrhea.
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    dizziness.
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    prostration.
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    syncope.
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    agitation and delirium.
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>

                </ion-label>
            </ion-item>
        </ion-list>

        <p>
            <b>
                What you should do:
            </b>
        </p>
        <p>
            Ask the victim to try to understand the source of the poisoning.
        </p>
        <p>
            Keep the victim comfortably warm.
        </p>
        <p>
            <b>
                It is a serious situation that requires urgent transportation to the Hospital.
            </b>
        </p>
    </ion-content>
