<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Burns
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>The universal rule for burning by fire is to cease the source of the flames;<br>
        then use cold water to cool the affected area.</p>
    <br>
    <p>This is the indicated output, <b>since there are no
        medication, product or homemade recipe
        to reduce the pain</b> caused by a
        burn or improve the injury.</p>
    <br>
    <p>The famous ointments, even those available
        in pharmacies, stress still
        the skin cells, irritating it and
        causing infections.</p>
    <br>
    <b>If bubbles appear, do not
        blow them at all:</b>
    <ul>
    <li> they are
        natural protection against burns.</li>
    <li>Bubbles are typical of second degree burns,
        deeper, and should only be handled by a physician.</li>
    </ul>
    <b>Avoid:</b>
    <ul>
    <li>wrapping the lesion with tissues or cotton they can stick.</li>
    <li>Accessories such as watches, bracelets, rings, laces
        and earrings, on the other hand, should be withdrawn.</li>
    <li>This is because the human body tends to expand after suffering a burn and
        these objects can get stuck.</li>
    </ul>
</ion-content>
