<ion-header>
  <ion-toolbar color = "dark">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Cuts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Check the cut. If you can see fat, muscles or bones,
  you probably need stitches. Check
   the situation with a doctor if you are not sure.
  <b>Signs of a problem that needs medical attention
 may include any of the following:</b></p>
  <p> extreme pain ,</p>
    <p>bleeding </p>
    <p>and signs of shock (cold, excessive sweating,chills or pallor).</p>
    <p><b>To know if a cut crossed the skin:</b> 
      <br> try to observe the presence of <b>fat</b> (irregular and yellow tissue), <b>muscles</b> 
  (fibrous and red tissue) or <b>bones</b> (surface rigid and white). </p>
  <p><b>Points are not necessary if the cut does not cross the skin. Treat the injury at home.</b></p>
</ion-content>
