<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Cuts
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        Check the cut. If you can see fat, muscles or bones,
        you probably need stitches. Check
        the situation with a doctor if you are not sure.
    </p>
    <b>
        Signs of a problem that needs medical attention
        may include any of the following:
    </b>
    <ul>
        <li> extreme pain,</li>
        <li>bleeding</li>
        <li>and signs of shock (cold, excessive sweating,chills or pallor).</li>
    </ul>
    <b>To know if a cut crossed the skin try to observe the presence of:</b>
    <ul>
        <li>
            <b>fat</b> (irregular and yellow tissue),
        </li>
        <li>
            <b>muscles</b>(fibrous and red tissue) or
        </li>
        <li>
            <b>bones</b> (surface rigid and white).
        </li>
    </ul>
    <b>Points are not necessary if the cut does not cross the skin. Treat the injury at home.</b>
</ion-content>
