<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Respiratory Poisoning
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        Poisoning is the effect produced in the body by a poison,
        whether it is introduced through the digestive tract,
        respiratory or skin.
    </p>

    <h5>
        <b>
            The most frequent are poisoning:
        </b>
    </h5>

    <ul>
        <li>
            by carbon dioxide.
        </li>
        <li>
            by carbon oxide.
        </li>
        <li>
            by propane / butane gas.
        </li>
    </ul>

    <br>
    <b>
        <h5>
            Signals and Symptons:
        </h5>
    </b>
    <ul>
        <li>
            The victim begins by feeling vague discomfort,
        </li>

        <li>
            followed by headache,
        </li>

        <li>
            tinnitus,
        </li>

        <li>
            dizziness,
        </li>

        <li>
            vomiting and a deep apathy that prevents her from fleeing from where she is.
        </li>

        <li>
            At this state the coma is followed, if the victim is not quickly rescued.
        </li>

    </ul>

    <b>
        What you should do:
    </b>

    <ul>
        <li>
            Enter the room where the accident occurred, holding the breath, and open the window.
        </li>
        <li>
            Go back outside to take a deep breath.
        </li>
        <li>
            Enter again and drag the victim out.
        </li>
        <li>
            Put the victim in an airy place.
        </li>
        <li>
            Unscrew the clothes.
        </li>
        <li>
            If necessary, perform assisted ventilation.
        </li>
    </ul>

    <h5>
        <b>
            Attention:
        </b>
    </h5>

    <p>
        If it is a septic tank do not try to remove the victim without using an anti-gas mask.
    </p>

    <p>
        <b>
            It is a serious situation that requires urgent transportation to the Hospital.
        </b>
    </p>

</ion-content>
