<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Poisoning
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        Poisoning is the effect produced in the body by a poison,
        whether it is introduced through the digestive tract,
        respiratory or skin.
    </p>

    <ion-list>

        <ion-list-header>
            <h5>
                The most frequent are poisoning:
            </h5>
        </ion-list-header>

        <ion-item>
            <ion-label>
                by carbon dioxide.
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                by carbon oxide.
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                by propane / butane gas.
            </ion-label>
        </ion-item>

    </ion-list>

    <br>

    <ion-list>

        <ion-list-header>
            <b>
                <h5>
                    Signals and Symptons:
                </h5>
            </b>
        </ion-list-header>

        <ion-item>
            <p>
                The victim begins by feeling vague discomfort,
            </p>
        </ion-item>

        <ion-item>
            <p>
                followed by headache,
            </p>
        </ion-item>

        <ion-item>
            <p>
                tinnitus,
            </p>
        </ion-item>

        <ion-item>
            <p>
                dizziness,
            </p>
        </ion-item>

        <ion-item>
            <p>
                vomiting and a deep apathy that prevents her from fleeing from where she is.
            </p>
        </ion-item>

        <ion-item>
            <p>
                At this state the coma is followed, if the victim is not quickly rescued.
            </p>
        </ion-item>

    </ion-list>

    <b>
        What you should do:
    </b>
    
    <ul>
        <li>
            Enter the room where the accident occurred, holding the breath, and open the window.
        </li>
        <li>
            Go back outside to take a deep breath.
        </li>
        <li>
            Enter again and drag the victim out.
        </li>
        <li>
            Put the victim in an airy place.
        </li>
        <li>
            Unscrew the clothes.
        </li>
        <li>
            If necessary, perform assisted ventilation.
        </li>
    </ul>

    <h5>
        <b>
            Attention:
        </b>
    </h5>

    <p>
        If it is a septic tank do not try to remove the victim without using an anti-gas mask.
    </p>

    <p>
        <b>
            It is a serious situation that requires urgent transportation to the Hospital.
        </b>
    </p>

</ion-content>
