<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="digestive-poisoning"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Food products
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h6>
        <b>
            Food products
        </b>
    </h6>


    <b>
        Signals and Symptons:
    </b>

    <ul>

        <li>
            Shivers and abundant perspiration.
        </li>

        <li>
            abdominal pain.
        </li>

        <li>
            nausea and vomiting.
        </li>

        <li>
            diarrhea.
        </li>

        <li>
            dizziness.
        </li>

        <li>
            prostration.
        </li>

        <li>
            syncope.
        </li>

        <li>
            agitation and delirium.
        </li>

    </ul>

    <p>
        <b>
            What you should do:
        </b>
    </p>
    <ul>
        
        <li>
            Ask the victim to try to understand the source of the poisoning.
        </li>

        <li>
            Keep the victim comfortably warm.
        </li>

    </ul>
    <p>
        <b>
            It is a serious situation that requires urgent transportation to the Hospital.
        </b>
    </p>
</ion-content>
