<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="digestive-poisoning"></ion-back-button>
    </ion-buttons>
    <ion-title>
        Food products
    </ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list-header>
    <h6>
        <b>
            Food products
        </b>
    </h6>
</ion-list-header>

<ion-list>

    <ion-list-header>
        <b>
            Signals and Symptons:
        </b>
    </ion-list-header>

    <ion-item>
        <p>
            Shivers and abundant perspiration.
        </p>
    </ion-item>

    <ion-item>
        <p>
            abdominal pain.
        </p>
    </ion-item>

    <ion-item>
        <p>
            nausea and vomiting.
        </p>
    </ion-item>

    <ion-item>
        <p>
            diarrhea.
        </p>
    </ion-item>

    <ion-item>
        <p>
            dizziness.
        </p>
    </ion-item>

    <ion-item>
        <p>
            prostration.
        </p>
    </ion-item>

    <ion-item>
        <p>
            syncope.
        </p>
    </ion-item>

    <ion-item>
        <p>
            agitation and delirium.
        </p>
    </ion-item>

</ion-list>

<p>
    <b>
        What you should do:
    </b>
</p>
<p>
    Ask the victim to try to understand the source of the poisoning.
</p>
<p>
    Keep the victim comfortably warm.
</p>
<p>
    <b>
        It is a serious situation that requires urgent transportation to the Hospital.
    </b>
</p>
</ion-content>
