<ion-header>
  <ion-toolbar color = "dark">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title align="center">
      Choking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p>if the person is able to cough forcefully, the person should keep coughing.<br> If the person is
    choking and can't talk, cry or laugh forcefully, the American Red Cross recommends a 'five-and-five' approach to delivering first aid
    Give 5 back blows.<br> Stand to the side and just behind a choking adult.<br> For a child, kneel 
    down behind.<br> Place one arm across the person's chest for support.<br> Bend the person over
    at the waist so that the upper body is parallel with the ground.<br> Deliver five separate back
    blows between the person's shoulder blades with the heel of your hand.<br>
    Give 5 abdominal thrusts.<br> Perform five abdominal thrusts (also known as the Heimlich maneuver).<br>
    Alternate between 5 blows and 5 thrusts until the blockage is dislodged.<br>
        The American Heart Association doesn't teach the back blow technique, only the 
      abdominal thrust procedures.<br> It's OK not to use back blows if you haven't learned the 
        technique. Both approaches are acceptable.</p>
<p><b>To perform abdominal thrusts (Heimlich maneuver) on someone else:</b><br>
Stand behind the person. <br>Place one foot slightly in front of the other for balance.<br> Wrap your arms around the waist.<br>
 Tip the person forward slightly.<br><b> If a child is choking, kneel down behind the child.</b> <br>
 Make a fist with one hand.<br> Position it slightly above the person's navel.<br>
Grasp the fist with the other hand.<br> Press hard into the abdomen with a quick,<br>
 upward thrust as if trying to lift the person up.<br>
Perform between six and 10 abdominal thrusts until the blockage is dislodged.</p>
</ion-content>
