<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Choking
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        <b>if the person is able to cough forcefully</b>, the person should keep coughing.
    </p>
    <p>
        <b>If the person is choking and can't talk, cry or laugh forcefully</b>,
        the American Red Cross recommends a 'five-and-five' approach to
        delivering first aid Give 5 back blows.
    </p>
    <p>
        Stand to the side and just behind a choking adult. For a child, kneel
        down behind.
    </p>
    <p>
        Place one arm across the person's chest for support. Bend the person over
        at the waist so that the upper body is parallel with the ground.
    </p>
    <p>
        Deliver five separate back
        blows between the person's shoulder blades with the heel of your hand.
    </p>
    <p>
        Give 5 abdominal thrusts.
    </p>
    <p>
        Perform five abdominal thrusts (also known as the Heimlich maneuver).
    </p>
    <p>
        Alternate between 5 blows and 5 thrusts until the blockage is dislodged.
    </p>
    <p>
        The American Heart Association doesn't teach the back blow technique, only the
        abdominal thrust procedures.
    </p>
    <p>
        It's OK not to use back blows if you haven't learned the
        technique.
    </p>
    <p>
        Both approaches are acceptable.
    </p>
    <b>
        To perform abdominal thrusts (Heimlich maneuver) on someone else:
    </b>
    <p>
        Stand behind the person.
    </p>
    <p>
        Place one foot slightly in front of the other for balance.
    </p>
    <p>
        Wrap your arms
        around the waist.
    </p>
    <p>
        Tip the person forward slightly.
    </p>
    <p>
        If a child is choking, kneel down behind the child.
    </p>
    <p>
        Make a fist with one hand.
    </p>
    <p>
        Position it slightly above the person's navel.
    </p>
    <p>
        Grasp the fist with the other hand.
    </p>
    <p>
        Press hard into the abdomen with a quick,
        upward thrust as if trying to lift the person up.
    </p>
    <p>
        Perform between six and 10 abdominal thrusts until the blockage is dislodged.
    </p>
</ion-content>
