<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Digestive Poisoning
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <p>
        Poisoning is the effect produced in the body by a poison,
        whether it is introduced through the digestive tract,
        respiratory or skin.
    </p>

    <ion-list-header>
        <b>
            <h5>
                Digestive Poisoning by:
            </h5>
        </b>
    </ion-list-header>

    <!----------------------------------------------------------------------------------------------------------------->

    <ion-button color="dark" size="large" shape="round" href="/foodp">
        Food Products
    </ion-button>

    <!--------------------------------------------------------------------------------------------------------------------->

    <br>

    <br>

    <ion-button color="dark" size="large" shape="round" href="/meds">
        Medicines
    </ion-button>

    <!--------------------------------------------------------------------------------------------------------------------->

    <br>

    <br>

    <ion-button color="dark" size="large" shape="round" href="/toxicp">
        Toxic Products
    </ion-button>

    <!--------------------------------------------------------------------------------------------------------------------->

</ion-content>
