// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.ion-color-torange{
    --ion-color-base: #F86F37;
    --ion-color-base-rgb: 248,111,55;
}

.ion-color-blood{
    --ion-color-base: #bb0a1e;
    --ion-color-base-rgb: 166,16,30;
}

.ion-color-crOrange{
    --ion-color-base: #F21E0A;
    --ion-color-base-rgb: 242,30,10;
}

.ion-color-crRed{
    --ion-color-base: #dc143c;
    --ion-color-base-rgb: 220,20,60;
}

/*.ion-color-model{
    --ion-color-base: #;
    --ion-color-base-rgb: ;
}*/

.ion-color-otorange{
    --ion-color-base: #E83D09;
    --ion-color-base-rgb: 232,61,9;
}

.ion-color-bloodOrange{
    --ion-color-base: #CC1100;
    --ion-color-base-rgb: 204,17,0;
}