<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>
          About
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-label>
        App Name: {{AppName}}
      </ion-label>
      <br>
      <ion-label>
        Package Name: {{PackageName}}
      </ion-label>
      <br>
      <ion-label>
        Code Version: {{VersionCode}}
      </ion-label>
      <br>
      <ion-label>
        Version Number: {{VersionNumber}}
      </ion-label>
</ion-content>
