<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="digestive-poisoning"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Toxic Products
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h6>
        <b>
            Toxic products
        </b>
    </h6>

    <h6>
        <b>
            Many chemicals are highly toxic when ingested:
        </b>
    </h6>

    <ul>
        <li>detergents,</li>
        <li>other cleaning products,</li>
        <li>bleach,</li>
        <li>pure alcohol or similar,</li>
        <li>ammonia,</li>
        <li>pesticides,</li>
        <li>agricultural or industrial products,</li>
        <li>acids (sulfuric, hydrochloric, nitric and others),</li>
        <li>gasoline,</li>
        <li>caustic potash,</li>
        <li>caustic soda,</li>
        <li>etc.</li>
    </ul>

    <p>
        <b>
            Signals and symptons:
        </b>
    </p>

    <p>
        Important information is the information of the victim or of someone
        indicating contact with the poison or the presence near the victim
        of any container that may have contained or contains poison.
    </p>

    <p>
        Symptoms vary with the nature of the product ingested; can be:
    </p>

    <ul>
        <li>
            Vomiting and diarrhea.
        </li>
        <li>
            Foam in the mouth.
        </li>
        <li>
            Bluish face, lips and fingernails.
        </li>
        <li>
            Difficulty breathing.
        </li>
        <li>
            Burns around the mouth (corrosive poisons).
        </li>
        <li>
            Delirium and convulsions.
        </li>
        <li>
            Unconsciousness.
        </li>
    </ul>

    <h6>
        <b>
            What you should do:
        </b>
    </h6>

    <ul>

        <li>
            If the victim is conscious,
            ask her to try to get as much information as possible about the poisoning.
        </li>

        <li>
            Ask for directions to the Poison control center immediately
        </li>

        <li>
            In case of ingestion of alcohol, and only in this case, give a sugary drink.
        </li>

        <li>
            In case of lip burns, gently soak them with water, without swallowing.
        </li>

    </ul>

    <p>
        <b>
            What you should not do:
        </b>
    </p>

    <ul>
        <li>
            Give the victim a drink because it may favor the absorption of some poisons.
        </li>

        <li>
            Causes vomiting if the victim ingested a caustic, a detergent or a solvent.
        </li>
    </ul>

    <p>
        <b>
            In case of intoxication lead the victim immediately to the hospital,
            taking samples of the poison found.
        </b>
    </p>
</ion-content>
