<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>
          Sobre
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    Nome do App: {{AppName}}
  </ion-label>
  <br>
  <ion-label>
    Nome do Pacote: {{PackageName}}
  </ion-label>
  <br>
  <ion-label>
    Versão Código: {{VersionCode}}
  </ion-label>
  <br>
  <ion-label>
    Numero da Versão {{VersionNumber}}
  </ion-label>
</ion-content>
