<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="external-bleeding"></ion-back-button>
        </ion-buttons>
        <ion-title>
            How to apply a garrote tourniquet
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <b>
        How to apply a garrote tourniquet:
    </b>
    <ul>
        <li>
            Apply the garrote between the wound and the heart,
            but as close as possible to the wound and always above the knee or elbow,
            according to the area where the bleeding wound is located.
        </li>
        <br>
        <li>
            Apply the garrote over the clothes or a clean smooth cloth that will be placed between the skin and the
            garrote.
        </li>
        <br>
        <li>
            Place the garrote around the wounded limb;
            if the garrote is improvised with strip of cloth or tie,
            give two ends between the ends of which stick a stick;
            turn the stick until the bleeding stops.
        </li>
        <br>
        <li>
            Applying the garrote, it will have to be relieved every 15 minutes, keeping it relieved from 30 seconds to 2
            minutes,
            depending on the intensity of the bleeding (the higher the bleeding the less time the garrote is relieved).
        </li>
        <br>
        <li>
            Always note the time when the garrote began to make compression to inform the doctor later
            (you can put this information on a sign on the neck of the injured person).
        </li>
    </ul>
    <h5>
        <b>
            Never remove the club until you reach the Hospital; deadly danger!
        </b>
    </h5>
    <b>
        However:
    </b>
    <p>
        Take measures against the state of shock before and during the transport to the Hospital:
    </p>
    <ul>
        <li>
            Calm the victim and keep her awake.
        </li>
        <br>
        <li>
            Lay her down with her legs raised.
        </li>
        <br>
        <li>
            Keep it comfortably heated.
        </li>
        <br>
        <li>
            Do not let her eat or drink.
        </li>
    </ul>
    <b>
        It is a serious situation that requires urgent transportation to the Hospital.
    </b>
    <p>
        In the particular case of palm hemorrhage:
    </p>
    <ul>
        <li>
            The injured person should close his or her hand tightly on a roll of sterile dressings or,
            if not present, a roll of washed cloth in order to make compression on the wound.
        </li>
        <br>
        <li>
            Then attach a bandage or folded cloth around the hand.
        </li>
        <br>
        <li>
            Place the arm to the chest with the help of a large handkerchief,
            keeping the injured hand well raised, leaning against it.
        </li>
    </ul>
    <b>
        It is a serious situation that requires urgent transportation to the Hospital.
    </b>
</ion-content>
