<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
        <ion-title>
            How To Prepare a Basic First Aid Kit
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p><b>A basic first aid kit may contain: </b></p>

    <p><b>1-</b> plasters in a variety of different sizes and shapes</p>
    <p><b>2-</b> small, medium and large sterile gauze dressings </p>
    <p><b>3-</b> at least 2 sterile eye dressings </p>
    <p><b>4-</b> triangular bandages </p>
    <p><b>5-</b> crêpe rolled bandages </p>
    <p><b>6-</b> safety pins </p>
    <p><b>7-</b> disposable sterile gloves </p>
    <p><b>8-</b> tweezers </p>
    <p><b>9-</b> scissors </p>
    <p><b>10-</b> alcohol-free cleansing wipes </p>
    <p><b>11-</b> sticky tape </p>
    <p><b>12-</b> thermometer (preferably digital) </p>
    <p><b>13-</b> skin rash cream, such as hydrocortisone or calendula </p>
    <p><b>14-</b> cream or spray to relieve insect bites and stings </p>
    <p><b>15-</b> antiseptic cream </p>
    <p><b>16-</b> painkillers such as paracetamol (or infant paracetamol for children), aspirin (not to be given to
        children under 16), or ibuprofen </p>
    <p><b>17-</b> cough medicine </p>
    <p><b>18-</b> antihistamine cream or tablets </p>
    <p><b>19-</b> distilled water for cleaning wounds </p>
    <p><b>20-</b> eye wash and eye bath</p>
    <p><b>It may also be useful to keep a basic first aid manual or instruction booklet with your first aid kit.</b></p>
    <p><b>Medicines should be checked regularly to make sure they're within their use-by dates.</b></p>
</ion-content>
