<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Internal Bleeding
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>Internal bleeding should always be suspected when blood is not seen to flow but the victim has one or more of the
        following signs and symptoms:</p>
    <p><b>Signals and Symptons:</b></p>
    <ul>
        <li>
            Thirst.
        </li>
        <li>
            Feeling of cold (chills).
        </li>
        <li>
            Progressively faster and weaker pulse.
        </li>
    </ul>
    <p><b>In even more serious cases:</b></p>
    <ul>
        <li>
            Paleness.
        </li>
        <li>
            Cooling, especially of the ends
        </li>
        <li>
            Buzzing.
        </li>
        <li>
            Change in the state of consciousness.
        </li>
    </ul>
    <p><b>What you should do:</b></p>
    <ul>
        <li>
            Calm the victim and keep her awake.
        </li>
        <li>
            Unscrew the clothes.
        </li>
        <li>
            Keep the victim comfortably warm.
        </li>
        <li>
            Put it in Safety Lateral Position.
        </li>
    </ul>
    <b><h5>It is a serious situation that requires urgent transportation to the hospital.</h5></b>
    <p><b>What you should not do:</b></p>
    <ul>
        <li>
            Give drink or food
        </li>
    </ul>
    <p><b>Caution:</b> the rescuer must wear disposable gloves before any procedure.</p>
</ion-content>
