<ion-header>
  <ion-toolbar>
    <ion-title>Internal Bleeding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label><ion-button shape="round" size="small" color="light" href="/home">Back to Home</ion-button></ion-label>
<p>Internal bleeding should always be suspected when blood is not seen to flow but the victim has one or more of the following signs and symptoms:</p>
<p><b>Signals and Symptons:</b></p>
<p>- Thirst.</p>
<p>- Feeling of cold (chills).</p>
<p>- Progressively faster and weaker pulse.</p>
<p><b>In even more serious cases:</b></p>
<p>- Paleness.</p>
<p>- Cooling, especially of the ends</p>
<p>- Buzzing.</p>
<p>- Change in the state of consciousness.</p>
<p><b>What you should do:</b></p>
<p>- Calm the victim and keep her awake.</p>
<p>- Unscrew the clothes.</p>
<p>- Keep the victim comfortably warm.</p>
<p>- Put it in Safety Lateral Position.</p>
<p><b><h5>It is a serious situation that requires urgent transportation to the hospital.</h5></b></p>
<p><b>What you should not do:</b></p>
<p>- Give drink or food</p>
<p><b>Caution:</b> the rescuer must wear disposable gloves before any procedure.</p>
</ion-content>
